.container {
  display: flex;
  width: 30rem;
  height: 30rem;
  border: 2px black solid;
}
.child {
  width: 5rem;
  height: 5rem;
  border: 1px black solid;
}
.green{
    background-color: green;

}
.red{
    background-color: red;

}
.black{
    background-color: black;
}