/* reset css */
@import url("./normalize.css");
@import url("./basic.setup.css");
@import url("./var.css");
@import url("./menu.css");
@import url("./logo.css");
@import url("./main-box.css");
@import url("./footer.css");
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7vh repeat(4, 50vh);
  grid-template-areas:
    "menu"
    "main"
    "slider"
    "card"
    "footer";
}
  header nav .menu {
    /* display: none; */
  }

  header nav .menu {
    width: 20vw;
    justify-content: flex-end;
  }

@media only screen and (min-width: 600px) {
  body {
    grid-template-rows: 8vh repeat(4, 75vh);
    color: pink;
    font-size: 1.1rem;
      }
      /* header nav .logo{
        margin-top: 0;
        align-self: center;
      } */
   }
  @media only screen and (min-width: 900px) {
    body {
      grid-template-rows: 10vh repeat(4, 50vh);
     color: blue;
     width: 100vw;

    }
    footer{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    
  }